<div class="container content">
    <div class="row">
        <div class="col-md-6" style="background-color: indigo;">
            Hola
        </div>
        <div class="col-md-6" style="background-color: rgb(75, 75, 75);">
            Mundo
        </div>
    </div>
</div>

