
    <div class="card-content">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature"	alt="">
            <span><h4>{{destino.nombre}}</h4></span>
        </div>
        <div class="card-desc">
            <h3>{{destino.nombre}}</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Non suscipit a, debitis saepe dolore quisquam odio aperiam
                  praesentium deleniti aspernatur recusandae inventore omnis
                   in sint eaque molestiae doloribus totam voluptatum.</p>
                   <a href="#" class="btn-card">Read</a>
        </div>
    </div>